body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
