.task-icon{
  width: 1.3rem;
}

.todo-table {
  width: 100%;
  border-collapse: collapse;
}

.todo-thead th {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  font-family: 'pretendard';
  font-weight: 500;
  font-size: 1.1rem;
}

.todo-tbody th {
  padding: 1rem 0 0;
  font-family: 'pretendard';
  font-weight: 300;
  font-size: 1.1rem;
}

.todo-task input:is([type="checkbox"]){
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
  appearance: none;
}
.todo-task input:is([type="checkbox"]):checked{
  background: url(../image/check-mark.png)  no-repeat center;
  background-size: 70%;
}